.name,
.email,
.role {
  background-color: inherit !important;
  border: none !important;
}
.name:focus,
.email:focus,
.role:focus {
  background-color: inherit !important;
  border: none !important;
}
#actions button {
  background-color: transparent !important;
  border: none !important;
}
.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
button:disabled {
  opacity: 0.7;
}
thead > tr {
  text-transform: capitalize;
  background-color: lightgray;
}
tr.selected {
  background-color: lightblue;
}
